<a href="https://colab.research.google.com/github/Jorge2018/DataScience2022-2/blob/main/Script_groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import numpy as np
df= pd.read_csv(r'https://raw.githubusercontent.com/mGalarnyk/Tutorial_Data/master/Pandas/CalIt2.data',header=None)
df.rename(columns={0:'Flow_ID',1:'Date',2:'Time',3:'Count'},inplace=True) # renombrar columnas
df.loc[(df['Date'] == '07/24/05') & (df['Flow_ID'] ==7)] 
df_sel=df.loc[(df['Date'] == '07/24/05') & (df['Flow_ID'] ==7)] # seleccion 24-07 y 7
top10 = df_sel.sort_values(['Count'], ascending=[False]).head(10) # top10
df_sort = top10.apply(lambda x: top10['Count'] - top10['Count'].min()) # funcion apply
df_sel_2=df[(df['Date'].str.contains("08/")==True) & (df['Flow_ID'] ==7) & (df['Date'].str.contains("/08/")==False)]
df_sel_2.groupby(['Date'])['Date'].count() # group by

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

    Flow_ID  Date  Time  Count
72        3     3     3      3
84        2     2     2      2
76        1     1     1      1
92        1     1     1      1
30        1     1     1      1
10        1     1     1      1
86        1     1     1      1
70        1     1     1      1
68        0     0     0      0
74        0     0     0      0