<a href="https://colab.research.google.com/github/Jorge2018/DataScience2022-2/blob/main/Script_procesamiento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [87]:
import pandas as pd
import numpy as np
from pandas import DataFrame
import re
import matplotlib.pyplot as plt
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
df=pd.read_csv(r'https://raw.githubusercontent.com/Jorge2018/DataScience2022-2/main/insurance.csv')

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [89]:
######################## Crea df numerico y categorico
df_num=df.select_dtypes(include=['float64', 'int64'])
df_cat=df.select_dtypes(exclude=['float64', 'int64'])
columns = list(df_num.columns)
for idx, column in enumerate(columns):
  print(f'la columna {column}, es numerica')
columns = list(df_cat.columns)
for idx, column in enumerate(columns):
  print(f'la columna {column}, es categorica')

la columna age, es numerica
la columna bmi, es numerica
la columna children, es numerica
la columna charges, es numerica
la columna sex, es categorica
la columna smoker, es categorica
la columna region, es categorica

In [90]:
######################## manejo de valores nulos y escalamiento de valores num
imputer = SimpleImputer(strategy="median")
imputer.fit(df_num)
print(imputer.statistics_) # valores de mediana por cada columna numérica
df_tr = pd.DataFrame(imputer.transform(df_num), columns=df_num.columns, index=df_num.index)
df_tr.info() # Valores nulos reemplazados

[3.900000e+01 3.040000e+01 1.000000e+00 9.382033e+03]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   float64
 1   bmi       1338 non-null   float64
 2   children  1338 non-null   float64
 3   charges   1338 non-null   float64
dtypes: float64(4)
memory usage: 41.9 KB

In [91]:
###################################### codificacion one-hot de las características nominales
one_hot_encoder = OneHotEncoder(handle_unknown='ignore')
results = one_hot_encoder.fit_transform(df_cat)
df_encoded = pd.DataFrame.sparse.from_spmatrix(results)
df_encoded.columns = one_hot_encoder.get_feature_names(df_cat.columns)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [92]:
#Concatenar todas las características de vuelta a un DataFrame.

df = pd.concat([df_tr, df_encoded], axis=1)

In [93]:
# Definir las características (X) y el objetivo (y)
X = df.drop(["charges"], axis=1)
y = df["charges"]

In [94]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(X_train.info()) # Set de características de datos de training
print('______________________________________________________________')
print('')
print('')
print(X_test.info()) # Set de características de datos de test

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1070 entries, 560 to 1126
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               1070 non-null   float64
 1   bmi               1070 non-null   float64
 2   children          1070 non-null   float64
 3   sex_female        1070 non-null   Sparse[float64, 0]
 4   sex_male          1070 non-null   Sparse[float64, 0]
 5   smoker_no         1070 non-null   Sparse[float64, 0]
 6   smoker_yes        1070 non-null   Sparse[float64, 0]
 7   region_northeast  1070 non-null   Sparse[float64, 0]
 8   region_northwest  1070 non-null   Sparse[float64, 0]
 9   region_southeast  1070 non-null   Sparse[float64, 0]
 10  region_southwest  1070 non-null   Sparse[float64, 0]
dtypes: Sparse[float64, 0](8), float64(3)
memory usage: 71.1 KB
None
______________________________________________________________


<class 'pandas.core.frame.DataFrame'>
Int64Index: 268 entries, 764 to 846
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               268 non-null    float64
 1   bmi               268 non-null    float64
 2   children          268 non-null    float64
 3   sex_female        268 non-null    Sparse[float64, 0]
 4   sex_male          268 non-null    Sparse[float64, 0]
 5   smoker_no         268 non-null    Sparse[float64, 0]
 6   smoker_yes        268 non-null    Sparse[float64, 0]
 7   region_northeast  268 non-null    Sparse[float64, 0]
 8   region_northwest  268 non-null    Sparse[float64, 0]
 9   region_southeast  268 non-null    Sparse[float64, 0]
 10  region_southwest  268 non-null    Sparse[float64, 0]
dtypes: Sparse[float64, 0](8), float64(3)
memory usage: 17.8 KB
None