<a href="https://colab.research.google.com/github/Jorge2018/DataScience2022-2/blob/main/Script_procesamiento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [130]:
import pandas as pd
import numpy as np
from pandas import DataFrame
import re
import matplotlib.pyplot as plt
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
df=pd.read_csv(r'https://raw.githubusercontent.com/Jorge2018/DataScience2022-2/main/insurance.csv')

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [132]:
######### Exploracion de datos no numericos para verificar si la col es 'binarizable'

lista = df.select_dtypes(exclude=['float64', 'int64'])
for i in lista:
  categ = df.pivot_table(index =i, aggfunc ='size') 
  print('La cantidad de repeticiones de la categoria:\n',categ)
  print('---------------------------')

La cantidad de repeticiones de la categoria:
 sex
female    662
male      676
dtype: int64
---------------------------
La cantidad de repeticiones de la categoria:
 smoker
no     1064
yes     274
dtype: int64
---------------------------
La cantidad de repeticiones de la categoria:
 region
northeast    324
northwest    325
southeast    364
southwest    325
dtype: int64
---------------------------

In [133]:
encoder = OrdinalEncoder(categories=[["female", "male"]])
encoder.fit(df[["sex"]])
df["sex_encoded"] = encoder.transform(df[["sex"]])
##############################################################
encoder = OrdinalEncoder(categories=[["yes", "no"]])
encoder.fit(df[["smoker"]])
df["smoker_encoded"] = encoder.transform(df[["smoker"]])
##############################################################
one_hot_encoder = OneHotEncoder()
one_hot_encoder.fit(df[["region"]])
region_encoded = one_hot_encoder.transform(df[["region"]])
df_encoded = pd.DataFrame(region_encoded.toarray(), columns=one_hot_encoder.categories_)
df = pd.concat([df, df_encoded], axis=1)
lista = list(df.columns)
for i, columna in enumerate(lista):
  columna = re.sub('[^0-9a-zA-Z]+', '', str(columna))     # Se subtituyen todos los caracteres que no esten entre 0-9,a-z y A-Z por un ''
  lista[i] = columna                                      # Se reemplaza el nmbre de columna en la lista por el nuevo nombre normalizado
  df.columns = lista                                      # Se asignan como nombre de columnas las nuevas columnas normalizadas
df_y=df['charges']  
df_X=df.drop(columns=['charges'])

In [134]:
df_X

,age,sex,bmi,children,smoker,region,sexencoded,smokerencoded,northeast,northwest,southeast,southwest
0,19,female,27.900,0,yes,southwest,0.0,0.0,0.0,0.0,0.0,1.0
1,18,male,33.770,1,no,southeast,1.0,1.0,0.0,0.0,1.0,0.0
2,28,male,33.000,3,no,southeast,1.0,1.0,0.0,0.0,1.0,0.0
3,33,male,22.705,0,no,northwest,1.0,1.0,0.0,1.0,0.0,0.0
4,32,male,28.880,0,no,northwest,1.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,northwest,1.0,1.0,0.0,1.0,0.0,0.0
1334,18,female,31.920,0,no,northeast,0.0,1.0,1.0,0.0,0.0,0.0
1335,18,female,36.850,0,no,southeast,0.0,1.0,0.0,0.0,1.0,0.0
1336,21,female,25.800,0,no,southwest,0.0,1.0,0.0,0.0,0.0,1.0
1337,61,female,29.070,0,yes,northwest,0.0,0.0,0.0,1.0,0.0,0.0

In [135]:
df_y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64