In [31]:
import pandas as pd
import numpy as np
from pandas import DataFrame
import re
import matplotlib.pyplot as plt
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_selector, make_column_transformer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
df=pd.read_csv(r'https://raw.githubusercontent.com/Jorge2018/RepositorioArchivos/main/abalone.data')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4176 entries, 0 to 4175
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   M       4176 non-null   object
 1   0.455   4176 non-null   float64
 2   0.365   4176 non-null   float64
 3   0.095   4176 non-null   float64
 4   0.514   4176 non-null   float64
 5   0.2245  4176 non-null   float64
 6   0.101   4176 non-null   float64
 7   0.15    4176 non-null   float64
 8   15      4176 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [33]:
lista=['Sex','Length','Diameter','Height','Whole weight','Shucked weight','Viscera weight','Shell weight','Rings']
df.columns=lista

In [34]:
X = df.drop(columns = 'Rings')
y = df['Rings']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [35]:
# Instanciar los selectores de columnas categóricas y numéricas para seleccionar las columnas adecuadas
cat_selector = make_column_selector(dtype_include='object')
num_selector = make_column_selector(dtype_include='number')

# Instanciar el escalador estándar y el codificador one hot
scaler = StandardScaler()
ohe = OneHotEncoder(handle_unknown='ignore')

# emparejamiento de cols con la tranformacion a utilizar. sobre valores numericos se utilizara StandardScaler, mientras sobre los categoricos OneHotEncoder
num_tuple = (scaler, num_selector)
cat_tuple = (ohe, cat_selector)

# instancia de col transformer, utilizando las tuplas creadas anteriormente
col_transformer = make_column_transformer(num_tuple, cat_tuple, remainder = 'passthrough')

# el transformador de cols solo sera utilizado en los datos de entrenamiento
col_transformer.fit(X_train)

# se procede con la transformacion de ambos df entrenamiento y prueba
X_train_processed = col_transformer.transform(X_train)
X_test_processed = col_transformer.transform(X_test)

X_train_processed

array([[-1.54642176, -1.5561698 , -1.05355826, ...,  0.        ,
         0.        ,  1.        ],
       [ 0.79572536,  0.52191671,  0.7068688 , ...,  0.        ,
         0.        ,  1.        ],
       [ 0.25201264,  0.31917656,  0.35478338, ...,  1.        ,
         0.        ,  0.        ],
       ...,
       [-0.04075575,  0.21780648,  0.23742158, ...,  1.        ,
         0.        ,  0.        ],
       [ 0.41930886,  0.52191671,  0.23742158, ...,  1.        ,
         0.        ,  0.        ],
       [ 0.58660508,  0.57260174,  0.00269797, ...,  1.        ,
         0.        ,  0.        ]])

In [36]:
# convierte en df y muestra los datos recien creados
X_train_df = pd.DataFrame(X_train_processed)
X_train_df.head()

,0,1,2,3,4,5,6,7,8,9
0,-1.546422,-1.556170,-1.053558,-1.258947,-1.260633,-1.337852,-1.212341,0.0,0.0,1.0
1,0.795725,0.521917,0.706869,0.605245,0.789463,0.749584,0.409117,0.0,0.0,1.0
2,0.252013,0.319177,0.354783,0.378850,0.602065,0.040129,0.172355,1.0,0.0,0.0
3,1.172142,0.927397,0.824231,1.234461,1.277152,1.490874,0.940037,1.0,0.0,0.0
4,-1.462774,-1.454800,-1.170920,-1.233452,-1.177094,-1.205966,-1.212341,0.0,0.0,1.0