<a href="https://colab.research.google.com/github/Jorge2018/DataScience2022-2/blob/main/Script_alturaPromedio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
df= pd.read_csv(r'https://raw.githubusercontent.com/Jorge2018/DataScience2022-2/main/athleteEventsNoPersonal.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40616 entries, 0 to 40615
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      40616 non-null  int64
 1   Age     39143 non-null  float64
 2   Height  31615 non-null  float64
 3   Team    40616 non-null  object
 4   NOC     40616 non-null  object
 5   Games   40616 non-null  object
 6   Year    40616 non-null  int64
 7   Season  40616 non-null  object
 8   City    40616 non-null  object
 9   Sport   40616 non-null  object
 10  Event   40616 non-null  object
 11  Medal   5917 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.7+ MB

In [57]:
print('la cantidad de filas y columnas del df son (fil,col):', df.shape)
print('---------------------------')

la cantidad de filas y columnas del df son (fil,col): (40616, 12)
---------------------------

In [58]:
print('los datos faltantes del df son:\n',df.isna().sum())
print('---------------------------')
#la cantidad (grande) de nan de la columna Medal, a mi parecer, se debe a que gran parte
#de los atletas de la muestra tomada, no ganaron una.

los datos faltantes del df son:
 ID            0
Age        1473
Height     9001
Team          0
NOC           0
Games         0
Year          0
Season        0
City          0
Sport         0
Event         0
Medal     34699
dtype: int64
---------------------------

In [59]:
filtro_ciudad = (df['City']=='London') 
df2=df[filtro_ciudad]
print('las entradas correspondientes a la ciudad de Londres son:\n',df2.count())
print('---------------------------')

las entradas correspondientes a la ciudad de Londres son:
 ID        3370
Age       3067
Height    2139
Team      3370
NOC       3370
Games     3370
Year      3370
Season    3370
City      3370
Sport     3370
Event     3370
Medal      568
dtype: int64
---------------------------

In [60]:
print('el atleta mas joven de la muestra tiene',df['Age'].min(),'a単os')
print('---------------------------')

el atleta mas joven de la muestra tiene 11.0 a単os
---------------------------

In [61]:
filtro_team = (df['Team']=='Sweden') 
filtro_dep = (df['Sport']=='Tug-Of-War') 
df3=df[filtro_team & filtro_dep]
print('la cantidad de atletas del team Sweden y del deporte Tug-Of-War son',df3['Team'].count())
print('---------------------------')

la cantidad de atletas del team Sweden y del deporte Tug-Of-War son 6
---------------------------

In [62]:
filtro_age = (df['Age']>40.0) 
filtro_med = (df['Medal']=='Gold') 
df4=df[filtro_age & filtro_med]
print('la cantidad de atletas mayores de 40 a単os y ganadores de medallas de oro son:',df4['Team'].count())
print('---------------------------')

la cantidad de atletas mayores de 40 a単os y ganadores de medallas de oro son: 66
---------------------------

In [63]:
df5=df[['Height','Event']].dropna()
print('El promedio de estaturas es:\n',df5['Height'].mean())
print('---------------------------')
print('El promedio de estaturas agrupado por eventos es:\n',df5.groupby(['Event'])['Height'].mean())
print('---------------------------')

El promedio de estaturas es:
 175.3811165585956
---------------------------
El promedio de estaturas agrupado por eventos es:
 Event
Alpine Skiing Men's Combined                      178.547170
Alpine Skiing Men's Downhill                      178.211679
Alpine Skiing Men's Giant Slalom                  176.739394
Alpine Skiing Men's Slalom                        176.482143
Alpine Skiing Men's Super G                       179.850575
                                                     ...
Wrestling Women's Flyweight, Freestyle            158.100000
Wrestling Women's Heavyweight, Freestyle          173.444444
Wrestling Women's Light-Heavyweight, Freestyle    170.000000
Wrestling Women's Lightweight, Freestyle          162.666667
Wrestling Women's Middleweight, Freestyle         164.533333
Name: Height, Length: 575, dtype: float64
---------------------------

In [64]:
df6=df.drop_duplicates(subset = "ID")
print('el promedio de altura de los atletas (eliminando duplicados) es:',df6['Height'].mean())

el promedio de altura de los atletas (eliminando duplicados) es: 176.31818479042698