<a href="https://colab.research.google.com/github/Jorge2018/DataScience2022-2/blob/main/Script_regresionLineal02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
df=pd.read_csv(r'https://raw.githubusercontent.com/Jorge2018/RepositorioArchivos/main/cali_housing.csv')

In [3]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

**Inspeccion de datos**

In [4]:
df.duplicated()
df = df.drop_duplicates()
print('la cantidad de registros sin duplicados es:\n',df.count())
print('---------------------------')
print('los datos faltantes del df son:\n',df.isna().sum())
print('---------------------------')

la cantidad de registros sin duplicados es:
 MedInc         20640
HouseAge       20640
AveRooms       20640
AveBedrms      20640
Population     20640
AveOccup       20640
Latitude       20640
Longitude      20640
MedHouseVal    20640
dtype: int64
---------------------------
los datos faltantes del df son:
 MedInc         0
HouseAge       0
AveRooms       0
AveBedrms      0
Population     0
AveOccup       0
Latitude       0
Longitude      0
MedHouseVal    0
dtype: int64
---------------------------

**Separa valores en X, y**

In [5]:
# Dividan
X = df.drop('MedHouseVal', axis=1)
y = df['MedHouseVal']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

**Se instancia y entrena el modelo**

In [6]:
# Make a linear regression instance
reg = LinearRegression()
reg.fit(X_train,y_train)

LinearRegression()

**Codigo para obtener el R cuadrado (R^2), despues de realizado el ajuste sobre los datos de entrenamiento**

In [7]:
train_score = reg.score(X_train, y_train)
print(train_score)

0.609873031052925

**Codigo para obtener el R cuadrado (R^2), despues de realizado el ajuste sobre los datos de prueba**

In [8]:
test_score = reg.score(X_test, y_test)
print(test_score)

0.5910509795491351

**Codigo para obtener las predicciones de los datos de Entrenamiento y prueba**

In [9]:
# Obtengan las predicciones del conjunto de entrenamiento
train_preds = reg.predict(X_train)
# Obtengan las predicciones del conjunto de prueba
test_preds = reg.predict(X_test)


###                **METRICAS DE REGRESION**

**Coeficiente de determinacion de R^2**

In [14]:
r2_train = r2_score(y_train, train_preds)
r2_test = r2_score(y_test, test_preds)

0.5910509795491351

**Error absoluto medio (EAM)**

In [16]:
mae_train = mean_absolute_error(y_train, train_preds)
mae_test = mean_absolute_error(y_test, test_preds)

0.5296964012919448

**Error cuadratico medio (ECM)**

In [18]:
mse_train = mean_squared_error(y_train, train_preds)
mse_test = mean_squared_error(y_test, test_preds)

0.5411287478470689

**Raiz del error cuadratico medio (RECM)**

In [20]:
rmse_train = np.sqrt(mean_squared_error(y_train, train_preds))
rmse_test = np.sqrt(mean_squared_error(y_test, test_preds))

0.7356145375446769