<a href="https://colab.research.google.com/github/Jorge2018/DataScience2022-2/blob/main/VariosCod_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
df= pd.read_csv(r'https://raw.githubusercontent.com/Jorge2018/DataScience2022-2/main/nutrients_csvfile.csv')
print(df.head())
print('---------------------------')
print('la cantidad de filas y columnas del df son (fil,col):', df.shape)
print('---------------------------')
print('La cantidad de registros al comenzar es:\n',df.count())
print('---------------------------')
print('los datos faltantes del df son:\n',df.isna().sum())
print('---------------------------')
lista=[]
for column in df:
  lista.append(column)
for i in range(len(lista)):
  print('los datos duplicados de la columna',lista[i],' son:',df.duplicated(subset=lista[i], keep='first').sum())
  print('---------------------------')

#proceso de revision y normalizacion de cols
df['Food']=df['Food'].astype(pd.StringDtype()) 
df['Measure']=df['Measure'].astype(pd.StringDtype())  
df['Category']=df['Category'].astype(pd.StringDtype()) 
df=df.replace(',','',regex=True) # reemplaza coma por nada
lista=df.select_dtypes(include=[np.object]).columns # selecciona solo columnas del tipo object
df[lista] =df[lista].apply(lambda x: x.str.replace('[^0-9]', '0')) # reemplaza lo que es diferente a un numero por 0 (cero)
df[lista]=df[lista].astype(float) # convierte las columnas del tipo object en float
print('tipos de datos despues del tratamiento y conversion:')
print('---------------------------')
df.info()
#df.to_csv('df.csv', index = False)

                    Food Measure  Grams Calories Protein Fat Sat.Fat Fiber  \
0             Cows' milk   1 qt.    976      660      32  40      36     0
1              Milk skim   1 qt.    984      360      36   t       t     0
2             Buttermilk   1 cup    246      127       9   5       4     0
3  Evaporated, undiluted   1 cup    252      345      16  20      18     0
4         Fortified milk  6 cups  1,419    1,373      89  42      23   1.4

  Carbs        Category
0    48  Dairy products
1    52  Dairy products
2    13  Dairy products
3    24  Dairy products
4   119  Dairy products
---------------------------
la cantidad de filas y columnas del df son (fil,col): (335, 10)
---------------------------
La cantidad de registros al comenzar es:
 Food        335
Measure     335
Grams       335
Calories    334
Protein     335
Fat         335
Sat.Fat     333
Fiber       335
Carbs       335
Category    335
dtype: int64
---------------------------
los datos faltantes del df son:
 Food        0
Measure     0
Grams       0
Calories    1
Protein     0
Fat         0
Sat.Fat     2
Fiber       0
Carbs       0
Category    0
dtype: int64
---------------------------
los datos duplicados de la columna Food  son: 6
---------------------------
los datos duplicados de la columna Measure  son: 274
---------------------------
los datos duplicados de la columna Grams  son: 232
---------------------------
los datos duplicados de la columna Calories  son: 182
---------------------------
los datos duplicados de la columna Protein  son: 295
---------------------------
los datos duplicados de la columna Fat  son: 290
---------------------------
los datos duplicados de la columna Sat.Fat  son: 296
---------------------------
los datos duplicados de la columna Fiber  son: 278
---------------------------
los datos duplicados de la columna Carbs  son: 255
---------------------------
los datos duplicados de la columna Category  son: 319
---------------------------
tipos de datos despues del tratamiento y conversion:
---------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Food      335 non-null    string
 1   Measure   335 non-null    string
 2   Grams     335 non-null    float64
 3   Calories  334 non-null    float64
 4   Protein   335 non-null    float64
 5   Fat       335 non-null    float64
 6   Sat.Fat   333 non-null    float64
 7   Fiber     335 non-null    float64
 8   Carbs     335 non-null    float64
 9   Category  335 non-null    string
dtypes: float64(7), string(3)
memory usage: 26.3 KB

In [23]:

lista=['Food','Measure','Category']
for i in lista:
  categ = df.pivot_table(index =i, aggfunc ='size') 
  print('La cantidad de repeticiones de la categoria:\n',categ)
  print('---------------------------')

La cantidad de repeticiones de la categoria:
 Food
(1/2 cup ice cream)         1
(cornstarch)                1
3 teaspoons sugar           1
9" diam. pie                1
Almonds                     1
                           ..
skim. milk                  1
table blends sugar          1
uncreamed                   1
whole-wheat                 1
with tomatoes and cheese    1
Length: 329, dtype: int64
---------------------------
La cantidad de repeticiones de la categoria:
 Measure
1              11
1 1/3 cups      2
1 T.           12
1 cup         120
1 ear           1
             ...
6-oz. can       3
8               1
8 oz. or        1
I med.          1
aver.           1
Length: 61, dtype: int64
---------------------------
La cantidad de repeticiones de la categoria:
 Category
Breads cereals fastfoodgrains    45
Dairy products                   28
Desserts sweets                  29
DrinksAlcohol Beverages          12
Fats Oils Shortenings            14
Fish Seafood                     19
Fruits A-F                       22
Fruits G-P                       28
Fruits R-Z                        8
Jams Jellies                      8
Meat Poultry                     30
Seeds and Nuts                   12
Soups                            10
Vegetables A-E                   28
Vegetables F-P                   14
Vegetables R-Z                   28
dtype: int64
---------------------------

In [22]:
dtypes = df.dtypes.to_dict()
print('las columnas y categorias del df son:\n',dtypes)

las columnas y categorias del df son:
 {'Food': string[python], 'Measure': string[python], 'Grams': dtype('float64'), 'Calories': dtype('float64'), 'Protein': dtype('float64'), 'Fat': dtype('float64'), 'Sat.Fat': dtype('float64'), 'Fiber': dtype('float64'), 'Carbs': dtype('float64'), 'Category': string[python]}

In [30]:
dfA=df.loc[(df['Calories'] > 1000.0)]
dfA.count()

Food        4
Measure     4
Grams       4
Calories    4
Protein     4
Fat         4
Sat.Fat     4
Fiber       4
Carbs       4
Category    4
dtype: int64